* {
    margin: 0px;
    padding:0px;
} 
@font-face {
    font-family: "Awesome";
    src: url(../awesome/Awesome.ttf);
}
@font-face {
    font-family: "Lucy";
    src: url(../awesome/Lucy\ Said\ Ok\ Personal\ Use.ttf);
}
.naslov h1{
    font-size: 6.5rem;
     color: white;
     text-align: center;
     font-family:'Awesome';
     letter-spacing: 1rem;
     line-height: 7rem;
     opacity: 0.93;
     text-shadow: 0 0 8px  #3e2723, 0 0 20px  #3e2723;
     
    }
    .naslov {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
     

        /* Ovde sam se namucila sa centriranjem teksta
         da bude na centru strane. Chat GPT kaze da top i left
         odmaknu slova 50% od parenta, ali to se odnosi na
         ivicu ovog naslova! sa translate-om mi ovo popravimo
         tako sto ga vratimo za 50% NJEGOVE visine/sirine.*/
        /* bio je problem na velikom ekranu */
    }

.header {
    margin:0 0;
    padding-top: 30px;
    height:90px;
    background:linear-gradient(rgba(50,50,0,0.2), rgba(80,10,0,0.7));
    text-align: center;
}

.zrno {
    margin-right: 1.8rem;
    margin-left: 1.3rem;
    display: inline-block;
    animation: mrdaj 1s ease-in-out infinite;
}
.zrno:hover{

    transform: translateY(-7px);
}

.zrno-vel {
  width: 40px;
  height: 50px;

}
.header nav{
    left:-10%;
}
.header nav ul{
    padding-left: 0;
       /* ovo je zato sto je ul imao po
    defaultu neki peding i pomerao mi je
    ceo meni u desnu stranu */
}
.header nav ul li {
    display: inline;
    margin-right: 1rem;
 
}
.header nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color:black;
    font-family: "Awesome";
    letter-spacing:0.1rem;
    
}

.kafa_hero {
    height:700px;
    background:url("../slike/pozadina.png");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kafa3 {
    height:1000px;
background: url("../slike/vertikala.png");
background-repeat: no-repeat;
background-size: cover;
}
/* pseudo elementi... */
/* p::before {
    content: "*"}
p::after {
    content:"*";
}; */
.Onama {
    display: flex;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-wrap:wrap;
    font-family:"Lucy";

}
.naslov1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)); /* Gradient to darken the background */
    color: white; /* White text for visibility */
    padding: 2rem; /* Add padding for spacing around text */
    text-align: center; /* Center-align the text */
    box-sizing: border-box; /* Ensure padding doesn’t affect width */
    width: 100%; /* Make sure it takes full width of its container */
    height: 100%; /* Ensure it takes full height of its container */
    padding: 6rem; /* Add padding for spacing around text */


}

.kolona {
    /* left:0.5rem; */
    top:1rem;
    width:32.3%;
    /* display: inline-block; */

}

.slika {
    width: 100%;
    height: 100%;
    border-radius: 7%;
    

}
.container {
    height: 1000px;
    display:inline-flex;
    padding-top: 5px;
    margin: 0;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}



@media screen and (max-width: 620px) {
        
        .kolona {
            float:left;
            width:100%;
        }
        .Onama {
            font-size: 2rem;

        }
        .naslov h1{
            font-size: 4rem;

        }
            
}
@media screen and (max-width: 390px) {
        
    .naslov h1{
        font-size: 2.5rem;

    }
        
}

 .sekcija {

    padding-top:20px;
    height: 200px;
    background:rgba(80,50,0,0.2);
    display:flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
 }
.kontakt{
    padding:10px;
    

}

 .ikonice {
font-size: 1.5rem;

 }

 .text {
    font-size:1rem;
    display:inline;
 }


#kafeno {
    animation: sleva 1s ease-out; /* Ja zadam ime animacije */
}
#carstvo {

    animation: sdesna 1s ease-out; /* Ja zadam ime animacije */
}


@keyframes sleva {
0% {transform: translateX(-300px); }
100% { transform: translateX(0); }
  }

@keyframes sdesna {
0% { transform: translateX(300px); }
100% { transform: translateX(0); }
      }

     
@keyframes mrdaj {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(15deg); }
      50% { transform: rotate(0deg); }
      75% { transform: rotate(-15deg); }
      100% { transform: rotate(0deg); }
    }