* {
    margin: 0px;
} 
@font-face {
    font-family: "Awesome";
    src: url(./awesome/Awesome.ttf);
}
.naslov h1{
    font-size: 6.5rem;
     color: white;
     text-align: center;
     font-family:'Awesome';
     letter-spacing: 1rem;
     line-height: 7rem;
     opacity: 0.93;
     
    }
    .naslov {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        display: flex;

        /* Ovde sam se namucila sa centriranjem teksta
         da bude na centru strane. Chat GPT kaze da top i left
         odmaknu slova 50% od parenta, ali to se odnosi na
         ivicu ovog naslova! sa translate-om mi ovo popravimo
         tako sto ga vratimo za 50% NJEGOVE visine/sirine.*/
        /* bio je problem na velikom ekranu */
    }

.header {
    margin:0 0;
    padding-top: 30px;
    height:90px;
    background:linear-gradient(rgba(50,50,0,0.2), rgba(50,0,0,0.7));
    text-align: center;

}


.zrno {
    margin-right: 1.8rem;
    margin-left: 1.3rem;
    display: inline-block;

}
.zrno:hover{

    transform: translateY(-7px);
}

.zrno-vel {
  width: 30px;
  height: 40px;

}
.header nav{
    left:-10%;
}
.header nav ul{
    padding-left: 0;
       /* ovo je zato sto je ul imao po
    defaultu neki peding i pomerao mi je
    ceo meni u desnu stranu */
}
.header nav ul li {
    display: inline;
    margin-right: 1rem;
 
}
.header nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color:black;
    font-family: "Awesome";
    letter-spacing:0.1rem;
    
}

.kafa_hero {
    height:700px;
    background:url("./pozadina.png");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.kafa3 {
    height:1000px;
background: url("./vertikala.png");
background-repeat: no-repeat;
background-size: cover;
}
/* pseudo elementi... */
/* p::before {
    content: "*"}
p::after {
    content:"*";
}; */
.Onama {
    display: flex;
    font-size: 1.8rem;
    color: white;
    text-decoration: wavy;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.naslov1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)); /* Gradient to darken the background */
    color: white; /* White text for visibility */
    padding: 2rem; /* Add padding for spacing around text */
    text-align: center; /* Center-align the text */
    box-sizing: border-box; /* Ensure padding doesn’t affect width */
    width: 100%; /* Make sure it takes full width of its container */
    height: 100%; /* Ensure it takes full height of its container */
    padding: 6rem; /* Add padding for spacing around text */


}

.kolona {
    top:0.8rem;
    left:0.5rem;
    width:32%;
    /* height:40vh; */
    box-sizing: border-box;
    display:inline-block;
    position: relative;

}

.slika {
    width: 100%;
    height: 100%;
    border-radius: 7%;
    

}
.kolona1 {
    left:0.5rem;
    top:3rem;
    width:32%;
    /* height:30vh; */
    box-sizing: border-box;
    display:inline-block;
    /* padding: 0; */
    position: relative;

}
