.klasa {

    color:pink;
    background-color: blue;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blok {
    color:red;
    background-color: greenyellow;
}
.inline {
color:green;
background:black;
}
body {

    background:white;
}
